* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(dot-grid.webp);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Top Header / Navbar */
.header {
    width: 100%;
    height: 60px;
    /* background-color: #6200ea; */
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0px 20px;
    position: sticky;
    top: 0;
}

.logo {
    width: 20%;
    margin-right: 40px;
}

#logo {
    height: 50px;
}

.navbar {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.navbar li {
    list-style-type: none;
}

.navbar li a {
    display: flex; 
    align-items: center; 
    height: 60px; 
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease; 
}

.navbar li a:hover {
    background-color: #000000;
}

/* .search-container {
    width: 100%;
    display: flex;
}

#search {
    width: 100%;
    padding: 10px 40px 10px 20px; 
    border: 1px solid black;
    border-radius: 5px; 
    font-size: 1rem;
}

.search-icon {
    position: relative;
    right: 25px;
    top: 30px;
    transform: translateY(-50%);
    color: #6200ea; 
    cursor: pointer;
} */


.hamburger-menu {
    display: none;
}
.line {
    height: 5px;
    background-color: white;
    border-radius: 5px;
}

#line1 {
    width: 40px;
}
#line2 {
    width: 35px;
}
#line3 {
    width: 30px;
}
#line4 {
    width: 25px;
}
.hamburger-navbar {
    display: none;
}

.hamburger-search-container {
    width: 220px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 6px; 
}
#hamburger-search {
    width: 100%;
    padding: 10px 10px; 
    border: 1px solid black;
    border-radius: 5px; 
    font-size: 1rem;
}

.search-button {
    background-color: black;
    cursor: pointer;
    font-size: 25px;
    padding: 5px;
    width: 220px;
    margin-top: 15px;
    box-shadow: 0px 0px 5px 2px white;
}
.hamburger-socialIcons {
    width: 220px;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.hamburger-social {
    font-size: 35px;
    color: white;
    opacity: 1;
    border: none !important;
}

.hamburger-navbar p {
    color: white;
}

.hamburger-navbar a {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(196, 192, 192);
}

.hamburger-social:hover {
   opacity: 0.8;
}


/* Main Section including scientific calculator and BMI Calculator */
main {
    width: 70%;
    min-width: 768px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Scientific Calculator */
.calculator {
    /* background-color: #2c2c2c; */
    background-color: black;
    padding: 20px;
    border-radius: 15px;
    width: 425px;
}

#display {
    width: 100%;
    height: 60px;
    background-color: #3c3c3c;
    color: #ffffff;
    font-size: 1.8rem;
    text-align: right;
    padding: 0.6rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

button {
    background-color: #4c4c4c;
    color: #ffffff;
    font-size: 1.1rem;
    padding: 0.9rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5c5c5c;
}

button.equals {
    grid-column: span 2;
    background-color: #ff9500;
}

button.equals:hover {
    background-color: #ffaa33;
}

button:active {
    transform: scale(0.95);
}

/* BMI Calculator */
.calculator-bmi {
    width: 40%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  }
  
  .calculator-bmi h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .calculator-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .calculator-form label {
    font-size: 1rem;
  }
  
  .calculator-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  #calculate-bmi {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  #calculate-bmi:hover {
    background-color: #3700b3;
  }
  
  .result {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
  }

.category-logo {
    display: flex;
    height: 150px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}

.category-logo img {
    border-radius: 10px;
}


/* Free Online Calculators */
.calculator-category {
    height: auto;
    width: 70%;
    min-width: 768px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.calculator-category h2 {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #6200ea; */
    background-color: black;
    color: white;
}

.calculator-list {
    height: 450px;
    width: 30%;
    /* box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2); */
    /* border-radius: 10px; */
    padding: 10px;
    margin-right: 1.2rem;
    margin-top: 1.5rem;
    background-color: white;
}

.calculator-list2 {
    height: 450px;
    width: 32%;
    /* box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2); */
    /* border-radius: 10px; */
    padding: 10px;
    background-color: white;
    margin-right: 1.2rem;
    margin-top: 1.5rem;
}

.calculator-list:hover, .calculator-list2:hover {
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
}

.calculator-list h3, .calculator-list2 h3 {
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
}
.calculator-list>a {
    text-decoration: none;
}
.calculator-list2>a {
    text-decoration: none;
}

.calculator-list>a:hover {
    text-decoration: underline;
}
.calculator-list2>a:hover {
    text-decoration: underline;
}

.calculator-list li, .calculator-list2 li {
    list-style-type: none;
    
}

.calculator-list li a, .calculator-list2 li a {
    font-size: 1.1rem;
    line-height: 0.24in;
    color: blue;
    text-decoration: none;
}

.calculator-list li a:hover, .calculator-list2 li a:hover {
    text-decoration: underline;
    color: rgb(136, 8, 8);
}


/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #6200ea; */
    background-color: black;
    width: 100%;
    height: 150px;
    color: white;
}

.social {
    font-size: 50px;
    color: white;
    opacity: 1;
    margin-right: 10px;
}

.social:hover {
   opacity: 0.8;
}

#copyright {
    font-size: 18px;
}

.details {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.details a {
    opacity: 1;
    color: white;
    font-size: 18px;
}

.details a:hover {
    opacity: 0.8;
}


/* Media Query to make responsive */
@media screen and (max-width: 990px) {
    * {
        overflow-x: hidden;
    }
    .logo {
        width: 260px;
    }
    #logo {
        height: 40px;
    }
    .navbar {
        width: 80%;
    }
    .header {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 767px) {
    * {
        overflow-x: hidden;
    }
    .header {
        position: fixed;
        top: 0;
        padding: 10px;
    }
    .navbar {
        display: none;
    }
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        float: right;
        width: 40px;
        height: 40px;
        align-items: end;
    }
    .hamburger-navbar {
        position: fixed;
        top: 60px;
        right: -250px;
        width: 250px;
        height: 100vh;
        background-color: #6200ea;
        transition: right 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding-top: 50px; */
    }
    .hamburger-navbar a {
        color: white;
        text-decoration: none;
        padding: 10px;
        display: block;
    }
    .hamburger-navbar a:hover {
        background-color: #555;
    }
    .hamburger-navbar.active {
        right: 0;
    }
    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
    .logo {
        width: 230px;
    }
    #logo {
        height: 40px;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
    .calculator {
        width: 340px;
    }
    .buttons {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 8px;
    }
    button {
        font-size: 14px;
        padding: 10px;
    }
    
    .calculator-bmi {
        width: 340px;
    }
    
    .category-logo {
        display: none;
    }
    
    .calculator-category {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }
    
    .calculator-list {
        height: auto;
        width: 320px;
        box-shadow: none;
        border-radius: 0px;
        margin-right: 0px;
        margin-top: 1rem;
        padding: 0px;
    }
    
    .calculator-list2 {
        height: auto;
        width: 320px;
        box-shadow: none;
        border-radius: 0px;
        margin-right: 0px;
        margin-top: 1rem;
        padding: 0px;
    }
    
    .calculator-list:hover, .calculator-list2:hover {
        box-shadow: none;
    }
    
    .calculator-list h3, .calculator-list2 h3 {
        /* background-color: #6200ea; */
        background-color: black;
        color: white;
        height: 40px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        padding-left: 5px;
    }
}


/* Financial Calculators */
.financial-container {
    width: 70%;
    min-width: 768px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border: 1px solid black;
}

.left-container, .right-container {
    height: 1000px;
}

.left-container {
    display: flex;
    flex-direction: column;
    width: 65%;
}
.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.right-box {
    height: 500px;
    width: 100%;
    border: 1px solid black;
}

.up-container {
    width: 100%;
    height: 70px;

}

.down-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 930px;
}